<div class="nav-container">
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <a routerLink="/">
            <img class="logo logo-dark" alt="logo" src="assets/img/logo-dark.png" />
            <img class="logo logo-light" alt="logo" src="assets/img/logo-light.png" />
          </a>
        </div>
        <div class="col-xs-9 col-sm-10 text-right">
          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
  <!--end bar-->
  <nav id="menu1" class="bar bar--sm bar-1 hidden-xs hiddem-sm " data-scroll-class='366px:pos-fixed'>
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-2 hidden-xs">
          <div class="bar__module">
            <a routerLink="/">
              <img class="logo logo-dark" alt="logo" src="assets/img/logo-dark.png" />
              <img class="logo logo-light" alt="logo" src="assets/img/logo-light.png" />
            </a>
          </div>
          <!--end module-->
        </div>
        <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
          <div class="bar__module">
            <ul class="menu-horizontal text-left">
              <!--<li>
                <a href=""> <span>Product</span></a>
              </li>-->
              <li>
                <a routerLink="/pricing"><span>Pricing</span></a>
              </li>
              <li>
                <a routerLink="/support"><span>Support</span></a>
              </li>
              <li class="dropdown">
                <span class="dropdown__trigger">Company</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-md-2">
                        <ul class="menu-vertical">
                          <li class="dropdown">
                            <span class="dropdown__trigger">About</span>
                            <div class="dropdown__container">
                              <div class="container">
                                <div class="row">
                                  <div class="dropdown__content col-md-2">
                                    <ul class="menu-vertical">
                                      <li>
                                        <a href="page-about-company.html">
                                                                                            About Company
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-about-team.html">
                                                                                            About Team
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-about-me.html">
                                                                                            About Me
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-about-history.html">
                                                                                            About History
                                                                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                  <!--end dropdown content-->
                                </div>
                                <!--end row-->
                              </div>
                            </div>
                            <!--end dropdown container-->
                          </li>
                          <li class="dropdown">
                            <span class="dropdown__trigger">Careers</span>
                            <div class="dropdown__container">
                              <div class="container">
                                <div class="row">
                                  <div class="dropdown__content col-md-2">
                                    <ul class="menu-vertical">
                                      <li>
                                        <a href="page-careers.html">
                                                                                            Careers Listing
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-careers-single.html">
                                                                                            Career Single
                                                                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                  <!--end dropdown content-->
                                </div>
                                <!--end row-->
                              </div>
                            </div>
                            <!--end dropdown container-->
                          </li>
                          <li class="dropdown">
                            <span class="dropdown__trigger">Contact</span>
                            <div class="dropdown__container">
                              <div class="container">
                                <div class="row">
                                  <div class="dropdown__content col-md-2">
                                    <ul class="menu-vertical">
                                      <li>
                                        <a href="page-contact-map-1.html">
                                                                                            Contact Map 1
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-contact-map-2.html">
                                                                                            Contact Map 2
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-contact-map-3.html">
                                                                                            Contact Map 3
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-contact-map-4.html">
                                                                                            Contact Map 4
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-contact-planner-1.html">
                                                                                            Contact Planner 1
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-contact-planner-2.html">
                                                                                            Contact Planner 2
                                                                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                  <!--end dropdown content-->
                                </div>
                                <!--end row-->
                              </div>
                            </div>
                            <!--end dropdown container-->
                          </li>
                          <li class="dropdown">
                            <span class="dropdown__trigger">Pricing</span>
                            <div class="dropdown__container">
                              <div class="container">
                                <div class="row">
                                  <div class="dropdown__content col-md-2">
                                    <ul class="menu-vertical">
                                      <li>
                                        <a href="page-pricing-1.html">
                                                                                            Pricing Plans 1
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-pricing-2.html">
                                                                                            Pricing Plans 2
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-pricing-3.html">
                                                                                            Pricing Plans 3
                                                                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                  <!--end dropdown content-->
                                </div>
                                <!--end row-->
                              </div>
                            </div>
                            <!--end dropdown container-->
                          </li>
                          <li class="dropdown">
                            <span class="dropdown__trigger">Services</span>
                            <div class="dropdown__container">
                              <div class="container">
                                <div class="row">
                                  <div class="dropdown__content col-md-2">
                                    <ul class="menu-vertical">
                                      <li>
                                        <a href="page-services-1.html">
                                                                                            Services 1
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-services-2.html">
                                                                                            Services 2
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-services-3.html">
                                                                                            Services 3
                                                                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                  <!--end dropdown content-->
                                </div>
                                <!--end row-->
                              </div>
                            </div>
                            <!--end dropdown container-->
                          </li>
                          <li class="dropdown separate">
                            <span class="dropdown__trigger">Accounts</span>
                            <div class="dropdown__container">
                              <div class="container">
                                <div class="row">
                                  <div class="dropdown__content col-md-2">
                                    <ul class="menu-vertical">
                                      <li>
                                        <a href="page-accounts-login-1.html">
                                                                                            Login Simple
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-accounts-login-2.html">
                                                                                            Login Social
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-accounts-create-1.html">
                                                                                            Create Simple
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-accounts-create-2.html">
                                                                                            Create Social
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-accounts-recover.html">
                                                                                            Recover Account
                                                                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                  <!--end dropdown content-->
                                </div>
                                <!--end row-->
                              </div>
                            </div>
                            <!--end dropdown container-->
                          </li>
                          <li class="dropdown">
                            <span class="dropdown__trigger">Utilities</span>
                            <div class="dropdown__container">
                              <div class="container">
                                <div class="row">
                                  <div class="dropdown__content col-md-2">
                                    <ul class="menu-vertical">
                                      <li>
                                        <a href="404.html">
                                                                                            Error 404
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="500.html">
                                                                                            Error 500
                                                                                        </a>
                                      </li>
                                      <li>
                                        <a href="page-utility-maintnence.html">
                                                                                            Maintnence Mode
                                                                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                  <!--end dropdown content-->
                                </div>
                                <!--end row-->
                              </div>
                            </div>
                            <!--end dropdown container-->
                          </li>
                        </ul>
                      </div>
                      <!--end dropdown content-->
                    </div>
                    <!--end row-->
                  </div>
                </div>
                <!--end dropdown container-->
              </li>
            </ul>
          </div>
          <!--end module-->
          <div class="bar__module">
            <a class="btn btn--sm type--uppercase" href="#">
              <span class="btn__text">
                  Become a Driver
              </span>
            </a>
            <a class="btn btn--sm btn--primary type--uppercase" href="#">
              <span class="btn__text">
                 Become a Rider
              </span>
            </a>
          </div>
          <!--end module-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </nav>
  <!--end bar-->
</div>
