<section class="cover imagebg height-30 text-center" data-overlay="4">
  <div class="background-image-holder">
    <img alt="background" src="assets/img/tos-header.jpg" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h1>Legal Documents</h1>
        <!--<p class="lead">
          Updated March 22, 2017
        </p>-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section>
  <div class="container ">
    <div class="row">
      <div class="col-sm-4">
        <div class="boxed boxed--border">
          <h5>Rider Terms of Service</h5>
          <p>
            Some legal stuff that riders should really know.
          </p>
          <a class="btn btn--primary" routerLink="/legal/rider">
            <span class="btn__text">
            Learn More
          </span>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="boxed boxed--border">
          <h5>Driver Terms of Service</h5>
          <p>
            Some legal stuff that riders should really know.
          </p>
          <a class="btn btn--primary" routerLink="/legal/rider">
            <span class="btn__text">
            Learn More
          </span>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="boxed boxed--border">
          <h5>HUB Partner Terms of Service</h5>
          <p>
            Some legal stuff that riders should really know.
          </p>
          <a class="btn btn--primary" routerLink="/legal/rider">
            <span class="btn__text">
            Learn More
          </span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="boxed boxed--border">
          <h5>Privacy Policy</h5>
          <p>
            Information on what we do with your data.
          </p>
          <a class="btn btn--primary" routerLink="/legal/rider">
            <span class="btn__text">
            Learn More
          </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>