<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="cta">
          <h2>Take a ride with Hobo for the best roadtrip of your life</h2>
          <p class="lead">
            Book your ride in advance or with friends for extra savings!
          </p>
          <a class="btn btn--primary type--uppercase" href="#">
            <span class="btn__text">
                                        Start your Ride
                                    </span>
            <span class="label">$0.35/mile</span>
          </a>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="pricing pricing-1 boxed boxed--lg boxed--border boxed--emphasis">
          <h3>Early Bookers</h3>
          <span class="h2">
                                    <strong>$0.35</strong> <small>/mile</small>
                                </span>
          <span class="type--fine-print">Book 5+ days in advance</span>
          <span class="label">Best Price</span>
          <hr>
          <ul>
            <li>
              <span class="checkmark bg--primary-1"></span>
              <span>Perfect for families and groups</span>
            </li>
            <li>
              <span class="checkmark bg--primary-1"></span>
              <span>Great for advance-planners</span>
            </li>
            <li>
              <span class="checkmark bg--primary-1"></span>
              <span>~70% cheaper than a plane ticket</span>
            </li>
          </ul>
          <a class="btn btn--primary" href="#">
            <span class="btn__text">
                Purchase Plan
            </span>
          </a>
        </div>
        <!--end of pricing-->
      </div>
      <div class="col-sm-4">
        <div class="pricing pricing-1 boxed boxed--lg boxed--border">
          <h3>Day-Before</h3>
          <span class="h2">
              <strong>$0.45</strong> <small>/mile</small>
          </span>
          <span class="type--fine-print">Book 2-4 days in advance</span>
          <hr>
          <ul>
            <li>
              <span class="checkmark bg--primary-1"></span>
              <span>Make plans the week of your trip</span>
            </li>
            <li>
              <span class="checkmark bg--primary-1"></span>
              <span>Easily Refundable</span>
            </li>
            <li>
              <span class="checkmark bg--primary-1"></span>
              <span>~60% cheaper than a plane ticket</span>
            </li>
          </ul>
          <a class="btn btn--primary-1" href="#">
            <span class="btn__text">
                Purchase Plan
            </span>
          </a>
        </div>
        <!--end of pricing-->
      </div>
      <div class="col-sm-4">
        <div class="pricing pricing-1 boxed boxed--lg boxed--border">
          <h3>Last-Minute</h3>
          <span class="h2">
              <strong>$0.65</strong> <small>/mile</small>
          </span>
          <span class="type--fine-print">Book &lt;24 hours in advance</span>
          <hr>
          <ul>
            <li>
              <span class="checkmark bg--primary-1"></span>
              <span>Excellent for emergencies</span>
            </li>
            <li>
              <span class="checkmark bg--primary-1"></span>
              <span>Book the day of your trip</span>
            </li>
            <li>
              <span class="checkmark bg--primary-1"></span>
              <span>~40% cheaper than a plane ticket</span>
            </li>
          </ul>
          <a class="btn btn--primary" href="#">
            <span class="btn__text">
                                        Purchase Plan
                                    </span>
          </a>
        </div>
        <!--end of pricing-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<!--<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>What do customers think of Stack?</h2>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="testimonial testimonial-2">
          <div class="testimonial__body boxed boxed--border bg--secondary">
            <p>
              This is the best overall experience I have had with any template of any kind. Medium Rare made me feel like a valued customer
              and I feel empowered.
            </p>
          </div>
          <div class="testimonial__image">
            <img alt="Image" src="img/avatar-round-3.png" />
            <h5>Raresh D.</h5>
            <span>Kolkata, IN</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="testimonial testimonial-2">
          <div class="testimonial__body boxed boxed--border bg--secondary">
            <p>
              Stack was easy to set-up and more importantly, was dead simple to customize. Buy this on sight
            </p>
          </div>
          <div class="testimonial__image">
            <img alt="Image" src="img/avatar-round-4.png" />
            <h5>Robert S.</h5>
            <span>Brisbane, AU</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="testimonial testimonial-2">
          <div class="testimonial__body boxed boxed--border bg--secondary">
            <p>
              Best. customer. service. Seriously, I opened a ticket and they were so helpful and really seemed to care about my experience.
            </p>
          </div>
          <div class="testimonial__image">
            <img alt="Image" src="img/avatar-round-1.png" />
            <h5>Gabby V.</h5>
            <span>Sydney, AU</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="testimonial testimonial-2">
          <div class="testimonial__body boxed boxed--border bg--secondary">
            <p>
              We’ve used their templates before and have always been hugely satisfied - Stack is no exception
            </p>
          </div>
          <div class="testimonial__image">
            <img alt="Image" src="img/avatar-round-2.png" />
            <h5>Josephine L.</h5>
            <span>California, US</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<section class="bg--secondary">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h2>Trip Calculator</h2>
        <p class="lead">Get an estimate on your trip, right here, right now.</p>
      </div>
    </div>
  </div>
</section>
<section class="bg--secondary">
  <app-calculator></app-calculator>
</section>
<section class="bg--primary faq">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="text-block">
          <h4>Frequently Asked Questions</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-block">
          <h5>How do refunds work?</h5>
          <p>
            Refunds can be issued up to 48 hours before midnight on the day of your departure. For example, if your ride is on June 15,
            you are eligible to recieve a full refund until 11:59 PM on June 12.
          </p>
        </div>
        <div class="text-block">
          <h5>Can I cancel my ride?</h5>
          <p>
            You may cancel your ride at any point, but refunds will be subject to our refund policy.
          </p>
        </div>
        <div class="text-block">
          <h5>Where can I book a ride?</h5>
          <p>
            Rides can be booked at any time through the Hobo app, available on <a target="_new" [href]="iosLink">iOS</a>            and <a target="_new" [href]="androidLink">Android</a>.
          </p>
        </div>
      </div>
      <div class="col-md-4">

        <div class="text-block">
          <h5>When does my ride depart?</h5>
          <p>
            All cars are scheduled to leave at 11:00 AM in the time zone of the departure city.
          </p>
        </div>
        <div class="text-block">
          <h5>What payments do you accept?</h5>
          <p>
            We accept Visa, Mastercard, Discover, and American Express. No payment information is stored in our databases, and all payments
            are handled by Stripe. Stripe is the industry standard and is PCI compliant.
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
