<section class="cover imagebg height-30 text-center" data-overlay="4">
  <div class="background-image-holder">
    <img alt="background" src="assets/img/tos-header.jpg" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h1>Rider Terms of Service</h1>
        <p class="lead">
          Updated March 22, 2017
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section>
  <div class="container ">
    <div class="row">
      <div class="col-sm-12">
        <p>As a Rider using the HOBO website and/or mobile application we ask that you read and understand the following terms
          and conditions of use.</p>
        <p>The purpose of our Terms of Use is to set the rules to which you, "the User" must accept to use our website, mobile
          app, API etc.</p>
        <p>Thank you for riding using HOBO Technologies LLC’s web sites, the HOBO mobile application, www.hoboride.com (collectively,
          the "sites"). HOBO Technologies LLC believes that you will find these sites informative and easy to navigate, and
          we hope that you will visit regularly.</p>
        <p>Your use of this site and the information, content, and services available through the site are subject to the following
          Terms &amp; Conditions ("Terms"), which may be updated by us from time to time without notice to you. You can review
          the most current version of the Terms &amp; Conditions at any time at <a href="http://www.hoboride.com">www.hoboride.com</a>.</p>
        <p>If you do not agree to any of these Terms, please do not use our sites. Your use of these sites indicates your consent
          to the Terms.</p>
        <p>By using the HOBO website and/or mobile application you are acknowledging that you have read, understood, and fully
          agreed to these terms and conditions of use and abide by them as outlined hereafter. </p>
        <h5>Legal</h5>
        <p>HOBO Technologies LLC is a software development company fully registered and based in the State of Georgia. HOBO
          Technologies is NOT a taxi or limo service therefor HOBO Technologies LLC is not legally bound or required to carry
          any additional certifications, permits or DOT numbers. HOBO Technologies LLC discourages drivers from picking up
          or dropping off at any Airports.</p>
        <h5>Liability</h5>
        <p>HOBO Technologies LLC dose not employee Hub partners or drivers. All Hub partners and drivers are self-employed who
          have been given limited access to our mobile application platform and are not employees of HOBO Technologies LLC.
          We do in-fact take rider safety seriously, so we do require and provide third party background checks on every
          driver requesting access to our platform; but HOBO Technologies carries minimal responsibility for drivers positive
          and/or negative actions. For driver safety, we require every rider to upload a profile picture so that diver can
          identify rider. Drivers are discouraged from picking up riders using other rider’s account and drivers can be held
          liable to carry financial burden for credit card misuse, accidents, damages and injuries of any rider not listed
          in the HOBO app.</p>
        <h5>Taxes</h5>
        <p>HOBO Technologies LLC is not responsible to pay any taxes on behalf of partner driver(s) BUT dose report to the IRS
          all of partner’s earnings via IRS form 1099.</p>
        <h5>Rating System</h5>
        <p>Our rating and comment system is very important to us. We ask each rider and/or driver to rate each other and post
          comments/reviews. We post reviews on the individual’s profile page.</p>
        <p>HOBO Technologies LLC reserves the right to restrict/deny platform access to drivers and or riders if we deem to
          be unsafe, unfit or in the best interest of the company at the company’s discretion. </p>
        <h5>Vehicle Inspections</h5>
        <p>HOBO Technologies LLC requires for the approved use of our software that every diving user has a 2008 of later model
          SUV or Minivan capable of seating at least 5 riders comfortably. Driver’s vehicle shall submit to inspection every
          six months or as required and/or requested. If vehicle does not meet HOBO standards, drivers will be immediately
          suspended from the app until his/her vehicle qualifies and meets HOBO standards.</p>
        <h5>Ownership of Company Information</h5>
        <p>Information concerning HOBO Technologies LLC and its services, including schedules, text, graphics, button icons,
          audio and video clips, digital downloads, data compilations (including Customer and HOBO Technologies LLC Rewards
          information), logos and information regarding the status of HOBO Technologies LLC schedules, etc. is referred to
          as "Company Information." HOBO Technologies LLC owns all copyrights, trademarks, service marks, and trade names
          related to our Company Information. All Company Information is proprietary to HOBO Technologies LLC.</p>
        <h5>Minors</h5>
        <p>Drivers are HIGHY discouraged from picking up minors under the age of 17 without a parent/guardian traveling with
          them.
        </p>
        <h5>Seatbelt Policy</h5>
        <p>Riders must wear seat belts. Hobo Technologies is not liable if you are not wearing a seat belt and if you sustain
          injuries in a collision.</p>
        <h5>Hub Partner</h5>
        <p>Each driver will be assigned a support Hub Partner who can/will answer any question, complete vehicle inspections,
          assist in application use and training.</p>
        <h5>Use Agreement</h5>
        <p>HOBO Technologies LLC offers the services available on our sites conditioned upon your acceptance of all the limitations
          of use and prohibited activities set forth below (collectively, the "Use Agreement"). By using the HOBO Technologies
          LLC’s sites in any manner, you accept and agree to be bound by this Use Agreement. Your continued use of HOBO Technologies
          LLC’s web sites is your acceptance of the changed or modified Use Agreement. </p>
        <h5>Limitations of Use</h5>
        <p>HOBO Technologies LLC’s sites and any Company information provided thereon is available to you only for non-commercial
          uses to determine the availability of goods and services offered on our sites and to transact business with HOBO
          Technologies LLC and/or our marketing partners. Unless you are an authorized HOBO Technologies LLC agent, you may
          not use the information provided on this site for any commercial use of other purpose.</p>

        <p>You may not use HOBO Technologies LLC sites to make any speculative, fraudulent or false reservation. If you have
          made multiple duplicate reservations to one or more destinations on or about the same date for the same traveler(s),
          HOBO Technologies LLC reserves the right to cancel all such reservations without notice.</p>

        <p>You may not use HOBO Technologies LLC sites for or in connection with offering any third party product or service
          not authorized or approved by HOBO Technologies LLC.</p>

        <p>HOBO Technologies LLC and its service providers are not liable for information that is inaccurate due to technical
          defects in software used on our web sites, whether induced by their respective systems or by software provided
          by third parties.</p>

        <p>If HOBO Technologies LLC notifies you that the manner in which you are using one of the HOBO Technologies LLC sites
          is prohibited or unauthorized, you may no longer use the sites for that particular purpose and must immediately
          cease and desist from such use.</p>

        <h5>Cancellation Policy and Refund</h5>
        <p>All boxcars are scheduled to leave at 11:00 AM in the time zone of the departure city. You will receive a full refund
          up to 48 hours at midnight the day of departure Example: Your boxcar leaves March 15, 2017. You can cancel any
          time before midnight on or before March 12, 2017. No refunds will be given on March 13 or after. The drivers agreed
          to make the trip and expect to be paid.</p>

        <h5>Prohibited Activities</h5>
        <p>You may not copy, display, distribute, download, license, modify, publish, re-post, reproduce, reuse, sell, transmit,
          use to create a derivative work, or otherwise use the content of this site for public or commercial purposes without
          our express written permission. Nothing on this site shall be construed to confer any grant or license of any intellectual
          property rights, whether by estoppel, by implication, or otherwise.</p>
        <p>You may not modify, re-render, frame, mirror, truncate, add to, inject, filter or change the order of the information
          contained on any page of the HOBO Technologies LLC sites, including, without limitation, by any way of reproducing
          HOBO Technologies LLC web pages or Company Information on any other web site without our express written permission.</p>

        <p>You may not copy, derive, edit, translate, decompile, reverse engineer, modify, use, or reproduce any code or source
          relating to our sites, including without limitation, any service or product HOBO Technologies LLC offers.</p>

        <p>You may not cause to appear any pop-up, pop-under, exit windows, expanding buttons, banners advertisement, or anything
          else which minimizes, covers, or otherwise inhibits the full display of the HOBO Technologies LLC sites.</p>

        <p>You may not use any deep-link, page-scrape, robot, crawl, index, spider, click spam, macro programs, Internet agent,
          or other automatic device, program, algorithm or methodology which does the same things, to use, access, copy,
          acquire information, generate impressions or clicks, input information, store information, search, generate searches,
          or monitor any portion of the HOBO Technologies LLC sites or Company information.</p>

        <p>You may not use the HOBO Technologies LLC sites in any way which depletes web infrastructural resources, slows the
          transferring or loading of any web page, or interferes with the normal operation of our site.</p>

        <p>You may not upload or transmit to the HOBO Technologies LLC sites any device, software, program, or file that may
          damage the operation of any computer or the HOBO Technologies LLC sites, including without limitation, viruses
          or corrupt files.</p>

        <p>You may not disguise the origin of information transmitted to, from, or through the HOBO Technologies LLC sites.
          You may not circumvent any measures implemented by HOBO Technologies LLC aimed at preventing violations of the
          Use Agreement. You may not violate the restrictions in any robot exclusion header. When you use the HOBO Technologies
          LLC sites or Company Information for an authorized purpose, you must include all proprietary notices without changing,
          hiding or deleting them.</p>

        <p>You may not engage in any conduct that is, or that HOBO Technologies LLC deems to be, in violation of this Use Agreement.</p>
        <h5>Your Privacy</h5>
        <p>Your privacy is important to us. Our Privacy Policy (link opens in a new tab) is incorporated in this Agreement and
          subject to these Terms and Conditions.</p>
        <p>Consistent with the HOBO Technologies LLC Privacy Policy, we ask you to provide us with information when you use
          certain personalized services. You agree that when you provide such information, the information will be accurate.
          Under no circumstances will you provide false or misleading information. We agree to use this information in a
          manner consistent with our Privacy Policy.</p>
        <p>In no event shall HOBO Technologies LLC, its affiliated companies, or their service providers be liable for any damages
          (whether consequential, direct, incidental, indirect, punitive, special, or otherwise) arising out of, or in any
          way connected with, a third party's unauthorized access to your information, regardless of whether such damages
          are based on contract, strict liability, tort, or other theories of liability, and also regardless of whether HOBO
          Technologies LLC was given actual or constructive notice that damages were possible.</p>
        <p>Some jurisdictions do not allow the exclusion of consequential or incidental damages, so portions of the above exclusions
          may not apply to you.</p>
        <h5>Insurance</h5>
        <p>HOBO Technologies carries liability insurance that only covers riders during the use of the mobile app only. NOTE:
          If rider is not posted inside HOBO Technologies LLC’s mobile application, rider may or may not be covered by our
          insurance carrier. It is the responsibility of the rider to make sure information is correct such as full name
          address phone number pick up location and destination. Failure to have these things posted to rider’s profile during
          the trip could possibly exempt rider from any future insurance claims whereas driver may carry the financial burden
          and responsibility of any accidents which happen during the trip. Insurance coverage can be accessed via the mobile
          application and located in your trip(s) history’s waybill.</p>
        <p>It is required and mandatory by law that all driver have full coverage insurance. <b>Although not mandatory, it is <span class="color--primary">HIGHLY</span> recommended and encouraged that drivers carry a ridesharing policy as well.</b></p>
        <h5>Security</h5>
        <p>HOBO Technologies LLC uses EPixel Software as a compliance partner and uses industry standard tools to encrypt information
          and keep data private and confidential as it is transferred between your machine and HOBO Technologies LLC. This
          technology makes it safe to transmit your credit card number over the Internet.</p>
        <h5>Contacting HOBO Technologies LLC</h5>
        <p>We love to hear from our Customers and encourage you to send us your comments and questions by e-mail, or U.S. mail.
          For information on how to contact HOBO Technologies LLC, visit our Contact Us(link opens in a new tab) page.</p>
        <h5>Liability Disclaimer</h5>
        <p>The HOBO Technologies LLC sites, including the content and company information found thereon, are provided "as is",
          without warranty of any kind, either express or implied, including without limitation any warranty concerning the
          information, services, or products offered or provided through or in connection with HOBO Technologies LLC's sites
          and any implied warranties of merchantability, fitness for a particular purpose, or non-infringement. In no event
          shall HOBO Technologies LLC, its service providers or its partners be liable for any direct, indirect, punitive,
          incidental, special, or consequential damages arising out of, or in any way connected with, the use of HOBO Technologies
          LLC's sites or with the delay or inability to use hobo technologies LLC's sites, for any information (including
          company information), software products, and services obtained through HOBO Technologies LLC's sites, or otherwise
          arising out of the use of the HOBO Technologies LLC sites, whether based in contract, tort, strict liability or
          otherwise, even if HOBO Technologies LLC, its service providers or its partners have been advised of the possibility
          of damages.</p>
        <h3>Our Legal Rights</h3>
        <h5>Forum Selection</h5>
        <p>These Terms and the relationship between you and HOBO Technologies LLC shall be governed by the laws of the State
          of Georgia without regard to any conflict of law provisions. You agree to the personal and exclusive jurisdiction
          of the courts located within Atlanta, Georgia. You hereby consent to the exclusive jurisdiction and venue of the
          State and Federal courts in Atlanta, Georgia in all disputes arising out of or relating to these Terms, our sites
          and site information.</p>
        <h5>Class Actions</h5>
        <p>To the fullest extent permitted by applicable law, no arbitration or claim under these Terms and Conditions shall
          be joined to any other arbitration or claim, including any arbitration or claim involving any current or former
          user of our software, and no class arbitration proceedings shall be permitted.</p>
        <h5>Limited Time to Bring Your Claim</h5>
        <p>You agree that any cause of action arising out of or related to the sites or any site information must be commenced
          within one (1) year after the cause of action accrues. Otherwise, such cause of action is permanently barred.</p>
      </div>
    </div>
  </div>
</section>