<section class="cover height-90 imagebg text-center" data-overlay="2" id="home">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/landing-car.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-8">
                <img alt="Image" class="unmarg--bottom" src="assets/img/landing-header-1.png" />
                <h3>
                    Take your next roadtrip without the driving.
                </h3>
                <a class="btn btn--primary type--uppercase" target="_new" [href]="iosLink">
                    <span class="btn__text">
                        Download <span class="type--lowercase">i</span>OS
                    </span>
                </a>
                <a class="btn btn--primary type--uppercase" target="_new" [href]="androidLink">
                    <span class="btn__text">
                        Download Android
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center cta cta-4 space--xxs border--bottom ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="label label--inline">Hot!</span>
                <span>We love our customers! That's why we want to give our new riders
                                <a href="#">10% off their first trip.</a></span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class=" ">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-1">
                    <img alt="Image" src="assets/img/landing-rider-first.jpg" />
                    <div class="feature__body boxed boxed--border">
                        <h5>Made with riders first</h5>
                        <p>
                            We want to create the most comfortable road trip of your life.
                        </p>
                        <a href="#">
                                        Learn More
                                    </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1">
                    <img alt="Image" src="assets/img/landing-airfare.jpg" />
                    <div class="feature__body boxed boxed--border">
                        <h5>Save on flights</h5>
                        <p>
                            You can save up to 90% compared to airline tickets with Hobo.
                        </p>
                        <a href="#">
                                        Learn More
                                    </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1">
                    <img alt="Image" src="assets/img/landing-door.jpg" />
                    <div class="feature__body boxed boxed--border">
                        <h5>Pickup at your door</h5>
                        <p>
                            The Hobo experience begins when your driver helps you with your bags.
                        </p>
                        <a href="#">
                                        Learn More
                                    </a>
                        <!--<span class="label">Hot</span>-->
                    </div>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2>Perfect for individuals &amp; groups</h2>
                <p class="lead">
                    Whether it's your monthly business trip or a family vacation, Hobo has your back for rides of any kind.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="feature feature-5 boxed boxed--lg boxed--border">
                    <i class="icon icon-Billing icon--lg"></i>
                    <div class="feature__body">
                        <h5>Transparent Billing</h5>
                        <p>
                            We don't want to rip you off; it's just bad business. We will always give you an estimate before your trip, and inform you
                            of all the costs that go into that price, such as mileage and time.
                        </p>
                        <a href="#">Learn More about Pricing</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                    <!--<span class="label">Free</span>-->
                    <i class="icon icon-Identification-Badge icon--lg"></i>
                    <!-- Security-Check -->
                    <div class="feature__body">
                        <h5>Safety at Hobo</h5>
                        <p>
                            At Hobo, we want to make sure each ride is a safe one. That's why we carefully and individually vet every single driver before
                            they take a single passenger. Now, you can rest easy knowing your ride is in good hands.
                        </p>
                        <a href="#">Learn More about Safety</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="switchable imagebg" data-overlay='4'>
    <div class="background-image-holder">
        <img alt="background" src="assets/img/landing-pricing.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <div class="switchable__text">
                    <div class="switchable__text">
                        <h2>Our prices are perfect for
                            <br class="hidden-xs hidden-sm" /> any budget</h2>
                        <p class="lead">
                            We have some of the least expensive long-distance ridesharing rates in the industry. When coupled with our amazing customer
                            service, you get the best experience in the industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="pricing pricing-2 boxed boxed--border boxed--lg">
                    <!--<span class="label">Value</span>-->
                    <div class="col-md-12 col-xs-12 text-center">
                        <h5>As low as</h5>
                        <span class="h1">
                        <span class="pricing__dollar">$</span>0.35</span>
                        <p class="type--fine-print">Per Mile, USD.</p>
                    </div>
                    <!--<div class="col-md-6 col-xs-12">
                        <ul>
                            <li>
                                <span class="checkmark bg--primary-1"></span>
                                <span>24/7 Phone Support</span>
                            </li>
                            <li>
                                <span class="checkmark bg--primary-1"></span>
                                <span>Unlimited Skips</span>
                            </li>
                            <li>
                                <span class="checkmark bg--primary-1"></span>
                                <span>Import CSV Data</span>
                            </li>
                            <li>
                                <span class="checkmark bg--primary-1"></span>
                                <span>Automatic Transfer</span>
                            </li>
                            <li>
                                <span class="checkmark bg--primary-1"></span>
                                <span>100GB Storage</span>
                            </li>
                        </ul>
                    </div>-->
                    <div class="col-xs-12" style="margin: 20px auto; text-align:center;">
                        <a role="button" class="btn btn--primary" target="_new" [href]="iosLink" inline>
                            <span class="btn__text">Download iOS</span>
                        </a>
                        <span class="hidden1200">&nbsp;&nbsp;</span>
                        <a role="button" class="btn btn--primary" target="_new" [href]="androidLink" inline>
                            <span class="btn__text">Download Android</span>
                        </a>
                    </div>
                </div>
                <!--end of pricing-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--<section class="text-center bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <h2>Building beautiful sites is easy</h2>
                <div class="video-cover border--round">
                    <div class="background-image-holder">
                        <img alt="image" src="assets/img/built-in/blog-3.jpg" />
                    </div>
                    <div class="video-play-icon"></div>
                    <iframe src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                </div>
                <span>Stack includes Variant Page Builder &mdash; used by over
                                <strong>17,000</strong> customers
                                <a target="_blank" href="#">Try Now &#8599;</a>
                            </span>
            </div>
        </div>
    </div>
</section>-->
<section class="bg--secondary unpad cta cta-2 text-center">
    <a href="#">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Drive with Hobo</h2>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </a>
</section>